@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');

$global-font-family: "Roboto Slab" -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

/* Custom overwrites */
@mixin hook-notification-message() {
    border: $global-border-width solid $global-border;
    border-radius: $border-rounded-border-radius;
    box-shadow: $global-small-box-shadow;
}

@import "uikit/src/scss/uikit-theme.scss";

@keyframes pulse {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade {
    0%   { opacity: 1; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

#pp-output-images {

    & .uk-tile {

        & .uk-overlay-primary {
            display: none;
        }

        &:hover .uk-overlay-primary {
            cursor: pointer;
            display: block;
            text-decoration: none;
        }
    }
}

.pp-status {
    margin: auto 10px;

    &-signal {
        border-radius: 5px;
        height: 10px;
        margin: 5px;
        width: 10px;
    }

    &-label {
        margin: 0;
    }

    &--busy .pp-status-signal {
        animation: pulse 1s infinite;
        background-color: #faa05a;
    }

    &--error .pp-status-signal {
        background-color: #f0506e;
    }

    &--healthy {
        animation: fade 10s;
        opacity: 0;

        .pp-status-signal {
            background-color: #32d296;
        }
    }
}

.pp-output {
    
    &-text {
        font-size: 1.1rem;
        line-height: 1.7;
    }

    &-stats {
        line-height: 2;
    }

    &-term {
        border: 1px solid $global-muted-background;
        color: $global-color;

        &:hover {
            border: 1px solid $global-color;
            cursor: pointer;
        }
    }
}